<main class="row">
  <div class="col-lg-12">
    <div class="col-lg-3">
      <h1>Products(<%= @products.count %>)</h1>
    </div>
    <hr>
  </div>
  <div class="col-lg-3">
    <!-- for filter -->
  </div>
  <div class="col-lg-9 some-product">
    <% @products.each do |product| %>
      <div class="col-lg-6">
        <div class="product-img">
          <%= link_to image_tag("products/"+product.img_url), product %>
        </div>
        <div class="info">
          <span class="product-name"><%= link_to product.name, product %></span>
          <span class="product-price"><%= product.price %> $</span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-12">
    <!-- for pagination -->
  </div>
</main>
